//FONTS
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900,&display=swap");


//--------------------------------------------------------------------------------------------------------------------------------------------
// Файл обнуляющих стилей
@import "nullstyle.scss";
//--------------------------------------------------------------------------------------------------------------------------------------------


body {

	font-family: "Lato";
	color: #000000;
	font-weight: 400;

}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 810px;
	padding: 0px 15px;
	margin: 0 auto;
}


//HEADER//---------------------------------------------------------------


